<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    .clasificado {
        color: green;
    }
    </style>
<h1>Competiciones</h1>
{% if competiciones %}
    <table>
        {% for competicion in competiciones %}
        <tr>
            <td><a href=/pdm/competicion/{{ competicion.id }}>{{ competicion.nombre }}</a></td>
        </tr>        
        {% endfor %}
    </table>

{% else %}
    <p>No hay competiciones</p>
{% endif %}
